main {
    position: absolute;
    top: 20%;
    left: 50%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 로그인 */
h1 {
	margin-bottom: 30px;
}

.login > input, .login > button, .signup > button  {
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
    border: 1px solid #bbb;
    border-radius: 4px;
}

.login > button {
   margin-left: 4px;
   background-color: lightblue;
}

.signup > button {
    margin-left: 2px;
    background-color: #bbb;
}

main button {
   color: white;
   font-weight: bold;
   border: 0 !important;
}

main button:hover {
    background: cadetblue;
}